html, body {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
  font-family: Arial
}

table {
  padding-left: 20px;
  padding-top: 20px;
  line-height: normal;
}

td {
  width: 30px;
  height: 30px;
  margin: 1px;
  background-color: Silver;
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
}

#container {
  /*height: auto;*/
  /*min-height: 100%;*/
}

#container {
  overflow: hidden;
}

#result {
  padding-top: 10px;
  margin-left: 10px;
  /*float: left;*/
}

.result {
  padding: 10px;
  display: none;
}
.won {
  color: #090;
}
.lost {
  color: #900;
}
.tie {
  color: #00C;
}
