html, body {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
  font-family: Verdana;
  font-size: 14px;
}

table {
  padding-left: 20px;
  padding-top: 20px;
  line-height: normal;
}

td {
  font-size: 16px;
  width: 30px;
  height: 30px;
  margin: 1px;
  background-color: Silver;
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
}

#container {
  /*height: auto;*/
  /*min-height: 100%;*/
}

#container {
  overflow: hidden;
}

#result {
  padding-top: 10px;
  margin-left: 20px;
  /*float: left;*/
}

.result {
  display: none;
}
.won {
  color: #090;
}
.lost {
  color: #900;
}
.tie {
  color: #00C;
}

#restart_container {
  display: none;
  padding-top: 5px;
  padding-left: 20px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  font-style: italic;
  color: #686868;
}

a:hover {
  text-decoration: none;
  color: #000;
}
